# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env
.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
default.optimizize.config.cjs

# Cloudflare Pages
.wrangler/
.next/outputs/
.opennext/

# IDE
.vscode/
.idea/

# Data
.data/

# Logs
*.log
.open-next/
